/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
.bg-header-wholesome {
    background-color: #FF5001;
}
.bg-wholesome {
    background-color: #fff;
}
.list-group-item-mine {
    position:relative; display:block ; padding:.5rem 1rem;
    color:#212529; text-decoration:none; background-color:#7CBF4B;
    border:2px solid #333;
}
.btn-primary-mine {
    color: #fff;
    background-color: #FF5001 !important;
    border-color: #FF5001 !important;
}
.capitalize {
    text-transform: capitalize;

