/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #01224F;
}
nav .navbar-brand .red
{
    color: #FF5001;
}
nav .navbar-brand .orange
{
    color: #F3BC7F;
}
nav .navbar-brand .green
{
    color: #7CBF4B;
}
.capitalize {
    text-transform: capitalize;
}
