{% extends "layout.html" %}

{% block title %}
Breakfast Selection
{% endblock %}

{% block main %}
    <h1>Breakfast Selection</h1>
    <form action="/selection" method="post">
    <table>
        <thead>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednessday</th>
                <th>Thursday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ selection["sun"] }} </td>
                <td> {{ selection["mon"] }} </td>
                <td> {{ selection["tue"] }} </td>
                <td> {{ selection["wed"] }} </td>
                <td> {{ selection["thu"] }} </td>
            </tr>
            <tr>
                {% for day in selection %}
                    <td>
                        <select name="{{ day }}">
                            <option value="none" selected disabled hidden>Select</option>
                            {% for item in menu %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Submit">
    </form>

{% endblock %}
