{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form data-bitwarden-watching="1" action="/login" method="post">
        <div class="form-group mb-3">
            <input autofocus type="email" class="form-control mx-auto w-auto" name="username" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group mb-3">
            <input type="password" class="form-control mx-auto w-auto" name="password" placeholder="Password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
