{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form data-bitwarden-watching="1" action="/register" method="POST">
        <div class="form-group mb-3">
            <input autofocus type="email" class="form-control mx-auto w-auto" name="username" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group mb-3">
            <input type="password" class="form-control mx-auto w-auto" name="password" placeholder="Password">
            <input type="password" class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (again)">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

{% endblock %}

